$font-family: "Exo2";
$font-size: 16px;

$color-bg: #000000;
$color-text: #fff;
$color-hl: #DF870A;

@font-face {
	src: url("../../fonts/Exo2-Light.ttf") format("truetype");

	font-family: "Exo2";
	font-weight: 300;
}

@font-face {
	src: url("../../fonts/Exo2-Regular.ttf") format("truetype");

	font-family: "Exo2";
	font-weight: 400;
}

@font-face {
	src: url("../../fonts/Exo2-Medium.ttf") format("truetype");

	font-family: "Exo2";
	font-weight: 500;
}

@font-face {
	src: url("../../fonts/Exo2-Bold.ttf") format("truetype");

	font-family: "Exo2";
	font-weight: 700;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: "Exo2";
	font-size: 14px;
	background-color: #070707;
	color: #fff;
	font-weight: 300;
}

.container {
	max-width: 1184px;
	margin: 0 auto;
	padding: 0 20px;

	&.small {
		max-width: 660px;
	}

	&.medium {
		max-width: 860px;
		a {
			&:hover {
				color: #DF870A !important;
			}
		}
	}
	&.pos-menu {
		display: flex;
		justify-content: right;
	}
	&_bg {
		background-color: #151515;
		border-radius: 10px;
		padding: 16px;
	}
}

a {
	color: #fff;
	text-decoration: none !important;
}

h1 {
	font-size: 32px;
	font-weight: 400;
	margin: 16px 0;

	&.center {
		text-align: center;
	}
}

h2 {
	font-size: 24px;
	font-weight: 400;
	margin: 16px 0;

	&.center {
		text-align: center;
	}
}

h4 {
	font-size: 16px;
	font-weight: 400;
	margin: 16px 0;

	&.center {
		text-align: center;
	}
	&.left {
		 text-align: left;
	 }
}

p {
	margin: 16px 0;
	font-weight: 300;
}

ul {
	padding-left: 20px;
}

li {
	line-height: 1.5;
}

span {
	color: #f5f5f5;
	font-weight: 400;
	text-decoration: none!important;

	&.grey{
		color: #828282;
	}
	&.hl {
		color: #DF870A;
	}
}


.common {
	color: #fff;
}

.center {
	text-align: center;
}

.info {
	font-size: 12px;
	color: #000000;
	cursor: pointer;
	width: 12px;
	height: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff !important;
	border-radius: 50%;
	font-weight: 700;
	position: absolute;

	@media (min-width: 320px) and (max-width: 1080px) {
		display: none;
	}
	&_td{
		margin-top: 4px;
		margin-right: 4px;
	}
	&_item {
		margin-top: 4px;
		margin-left: 4px;
	}

	.ref {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: -8px;
		left: calc(100% + 8px);
		transform: translate(10%, 0);
		padding: 8px;
		background: #1E1E1E !important;
		border-width: 0px 1px 1px 0px;
		border-style: solid;
		border-color: #DF870A;
		border-radius: 5px;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s ease;
		z-index: 300;
		min-width: 128px;
		width: max-content;
		font-size: 14px;
		font-weight: 300;
		color: #fff !important;

		&_right{
			left: auto;
			right: calc(100% + 8px);
		}

		&_bullets {
			display: flex;
			justify-content: space-between;
			gap: 16px;
			margin-bottom: 6px;
			.property {
				color: #828282;
				&_tracer{
					color: #df870a;
				}
			}
			.value {
				color: #fff;
			}
		}

		&_money {
			display: flex;
			justify-content: space-between;
			gap: 8px;
		}

		&_tdhead {
			justify-content: flex-start;
			align-items: flex-start;
		}

		&_item{
			display: flex;
			min-width: 168px;
			margin-bottom: 4px;
			.property {
				color: #828282;
			}

			.value {
				color: #fff;
			}
		}
		a {
			color: #DF870A !important;
			&:hover {
				color: #828282 !important;
			}
		}
	}

	&:hover {
		.ref {
			visibility: visible;
			transform: translate(0%, 0);
			opacity: 1;
		}
	}
}
// Navbar
nav {
	.navbar {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		border-bottom: 1px solid rgba(223, 135, 10, 0.5);
		margin-bottom: 16px;

		@media (min-width: 320px) and (max-width: 1080px) {
			flex-flow: row wrap;
			border-bottom: none;
			padding-top: 16px;
		}

		.logo {
			position: relative;
			svg {
				@media (min-width: 320px) and (max-width: 1080px) {
					width: 50px;
					height: 50px;

					&::after {
						display: none;
					}
				}
			}
		}

		.mobile_menu_btn {
			display: none;
			margin: 0 0 0 auto;
			width: 40px;
			height: 40px;
			background: url(../../img/burger.png) no-repeat center center;
			background-size: contain;
			cursor: pointer;
			transition: all 0.5s ease;

			@media (min-width: 320px) and (max-width: 1080px) {
				display: block;
			}

			&.active {
				transform: rotate(90deg);
			}
		}

		.menu {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin: 0 16px 0 32px;
			font-size: 16px;

			@media (min-width: 320px) and (max-width: 1080px) {
				display: none;
			}

			.item {
				position: relative;
				padding: 25px 16px;

				&::after {
					position: absolute;
					content: "";
					bottom: -2px;
					left: 0px;
					width: 100%;
					height: 3px;
					opacity: 0;
					transition: all 0.2s;
					background: #DF870A;
				}

				&.active::after {
					opacity: 1;
				}

				&:hover:after {
					opacity: 1;
				}

				&:hover .icon {
					transform: rotate(180deg);
				}

				&:hover .subitems {
					visibility: visible;
					transform: translate(0, 0px);
					opacity: 1;
				}
			}
		}

		.mobile_filler {
			@media (min-width: 320px) and (max-width: 1080px) {
				width: calc(100% - 54px - 40px);
			}
		}

		.search {
			position: relative;
			margin-right: 48px;
			flex: 1;

			@media (min-width: 320px) and (max-width: 1080px) {
				margin: 0;
				margin-top: 8px;
			}

			.input {
				padding: 8px;
				padding-left: 40px;
				font-size: 14px;
				background: #070707;
				border: none !important;
				outline: none !important;
				color: #fff !important;
				width: 100%;
				font-family: "Exo2" !important;
				transition: all 0.2s ease;

				&::-webkit-input-placeholder {
					color: #828282;
					opacity: 0;
				}

				&:focus {
					background: #151515;
					border-radius: 5px;
				}

				&:focus::-webkit-input-placeholder {
					opacity: 1;
				}

				@media (min-width: 320px) and (max-width: 1080px) {
					background: #151515;
					border-radius: 5px;
					padding: 12px;
					padding-right: 40px;

					&::-webkit-input-placeholder {
						opacity: 1;
					}
				}
			}

			.icon {
				position: absolute;
				top: calc(50% - 7px);
				left: 12px;
				width: 16px;
				height: 16px;
				background: url(../../img/search-icon.svg) no-repeat center center;
				background-size: contain;
				opacity: 0.8;

				@media (min-width: 320px) and (max-width: 1080px) {
					left: auto;
					right: 12px;
				}

				&:hover{
					cursor: pointer;
					opacity: 1;
				}
				&:focus {
					opacity: 1;
				}
			}
		}

		.login {
			font-size: 14px;
			font-weight: 400;
			background: #DF870A;
			border-radius: 5px;
			color: #000000;
			padding: 6px 10px;
			cursor: pointer;
			margin-right: 16px;

			@media (min-width: 320px) and (max-width: 1080px) {
				display: none;
			}
		}

		.mobile_menu {
			visibility: hidden;
			background: #121212;
			width: 100%;
			opacity: 0;
			transition: all 0.5s ease;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 200;
			display: none;

			@media (min-width: 320px) and (max-width: 1080px) {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
			}

			&.active {
				opacity: 1;
				visibility: visible;
			}

			.close {
				position: absolute;
				top: 32px;
				right: 32px;
				width: 16px;
				height: 16px;
				cursor: pointer;
				background: url(../../img/closed.png) no-repeat center center;
				background-size: contain;
			}

			.top {
				padding: 16px;
				flex: 3;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;

				.item {
					margin: 8px 0;
					font-size: 16px;
					width: 40vw;

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}

					.itemlink {
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						justify-content: flex-start;
						gap: 16px;
					}

					&.active {
						.itemlink {
							color: #DF870A !important;
						}
					}

					.itemlogo {
						width: 25px;
						height: 25px;
						margin-right: 12px;
						position: relative;

						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: contain;
						}
					}

					.line {
						display: block;
						margin: 0 8px;
						height: 1px;
						flex: 1;
						background: #DF870A;
						margin-top: 3px;
					}

					.icon {
						display: block;
						transition: all 0.2s ease;
						color: #DF870A;
						font-size: 14px;

						&::after {
							content: "▼";
						}
					}

					&.active .icon {
						transform: rotate(180deg);
					}
				}
			}

			.bottom {
				padding: 16px 48px;
				margin: 0 20px;
				border-top: 1px solid #DF870A;
				flex: 2;
				font-size: 16px;

				.item {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					margin: 16px 0;

					&:first-child {
						margin-top: 0;
					}

					.name {
						flex: 1;
					}

					.links {
						display: flex;
						flex-flow: row nowrap;
						gap: 16px;
						justify-content: flex-end;

						.link {
							width: 25px;
							height: 25px;

							&.telegram {
								background: url(../../img/telegram_icon.png) no-repeat center center;
								background-size: contain;
							}

							&.b {
								background: url(../../img/b_icon.png) no-repeat center center;
								background-size: contain;
							}

							&.twitch {
								background: url(../../img/twitch_icon.png) no-repeat center center;
								background-size: contain;
							}
						}
					}
				}

				.auth {
					padding: 16px;
					margin-top: 16px;
					text-align: center;

					.wrapper {
						margin-bottom: 8px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					.button {
						display: inline-block;

						&.login {
							background: #DF870A;
							border-radius: 10px;
							padding: 4px 60px;
							color: #000000 !important;
							font-size: 16px;
						}
					}
				}
			}
		}
		.auhorized_profile_main {
			position: relative;
			@media (min-width: 320px) and (max-width: 1080px) {
				display: none;
			}
			.auhorized_profile {
				display: flex;
				align-items: center;
				margin-right: 8px;
				gap: 4px;

				&.icon {
					height: 18px;
					width: 32px;
					background: url(../../img/pro-icon.png) no-repeat center center;
					background-size: contain;
				}
				&_avatar {
					cursor: pointer;
					img {
						height: 52px;
						width: 52px;
						border-radius: 50%;

						&.pro_enable{
							border: 2px solid #DF870A;
						}
						&.pro_disable{
							border: 2px solid #828282;
						}
					}
				}



			}

		}
	}
}
.mobile_navbar_footer{
	display: none;

	@media (max-width: 1080px) {
		display: block;
	}

	.mobile_nav {
		height: 50px;
		width: 100%;
		position: fixed;
		bottom: 0px;
		left: 0px;
		box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 8px;
		z-index: 11;
		margin: 0px auto;
		box-shadow: 0 0 10px #070707;

		&_list {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: space-around;
			background-color: #1E1E1E;
			padding: 0px;
			margin: 0px;
			list-style: none;
		}

		&_item {
			list-style-type: none;
			flex: 1;

			a {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text-decoration: none;
				align-items: center;

				&:hover {
					span {
						color: #DF870A;
					}
					svg {
						&.stroke{
							stroke: #DF870A;
						}
						&.fill {
							fill: #DF870A;
						}
					}
				}

				img {
					height: 25px;
					width: 25px;
				}
				span {
					font-size: 12px;
					color: #fff;
					font-weight: 300;
					text-shadow: none;
				}
			}
		}
	}

}
.auhorized_menu_navbar {
	position: absolute;
	right: 0px;
	top: 31px;
	display: flex;
	width: 220px;
	max-height: 500px;
	color: #fff;
	box-shadow: 0 0 10px #070707;
	z-index: 10;
	@media (min-width: 320px) and (max-width: 1080px) {
		display: none;
	}

	ul {
		list-style-type: none;
		padding: 0px !important;
	}
	.auhorized_menu_open {
		background-color: #1e1e1e;
		display: none;
	}
	.list_menu {
		display: flex;
		flex-direction: column;
		margin: 0;
		font-weight: 300;


		&.menu_block {
			a {
				cursor: pointer;
				padding: 8px 16px;
				&:hover {
					background-color: #151515
				}
			}
		}
		&.menu_block_main {
			padding: 8px 16px;
			border-bottom: 1px solid #DF870A;
			span {
				font-size: 13px;
			}
		}
	}
}
// Tables

.table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;

	.tr_bullets{
		&:hover td{
			opacity: 1;
			background: #828282;
			color: #000000;
			font-weight: 400;
			border: 1px solid #070707;
			border-radius: 0px;
			span {
				color: #000 !important;
			}
		}
	}

	th {
		border: 1px solid #070707;
		background: #151515;
		border-bottom: 1px solid #DF870A;
		padding: 8px 16px;
		font-weight: 400;
		position: relative;

		@media (min-width: 320px) and (max-width: 1080px) {
			font-size: 14px;
			padding: 16px;
		}

		&.no_mobile {
			@media (min-width: 320px) and (max-width: 1080px) {
				display: none;
			}
		}

		.info {
			position: absolute;
			top: 2px;
			right: 2px;
		}
	}

	td {
		text-align: center;
		vertical-align: middle;
		border: 1px solid #070707;
		background: #151515;
		position: relative;
		padding: 8px 16px;

		@media (min-width: 320px) and (max-width: 1080px) {
			font-size: 14px;
		}

		&.no_mobile {
			@media (min-width: 320px) and (max-width: 1080px) {
				display: none;
			}
		}

		.info {
			position: absolute;
			top: 2px;
			right: 2px;
		}
	}
}

// Content

.content {
	min-height: 70vh;
}
.line_separator {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	.line {
		height: 1px;
		background: #DF870A;
		flex: 1;

		@media (min-width: 320px) and (max-width: 1080px) {
			margin-left: 10px;
		}
		&.item-properties-line {
			margin-bottom: 4px;
		}

	}
}
.reference {
	margin-bottom: 16px;

	h2 {
		margin: 0;
	}

	.header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		cursor: pointer;
		margin: 8px 0 16px 0;

		.h {
			margin: 0px;
			padding: 0;
		}

		.line {
			margin: 0 16px 0 16px;
			height: 1px;
			background: #DF870A;
			flex: 1;

			@media (min-width: 320px) and (max-width: 1080px) {
				margin-left: 10px;
			}

		}

		.btn {
			color: #DF870A;
			margin: 0;
			padding: 0;
			cursor: pointer;
			font-size: 16px;
			transition: all 0.2s ease;
			display: inline-block;

			&::before {
				content: "▼";
			}
		}
		&_notlink  {
			margin: 0;
		}
	}

	.text {
		opacity: 0;
		transform: scaleY(0);
		transform-origin: top;
		max-height: 0;
		transition: all 0.5s ease;
		margin-bottom: -16px;
		a {
			color: #DF870A !important;
			cursor: pointer;
			&:hover {
				color: #828282 !important;
			}
		}
		u {
			color: #DF870A !important;
			&:hover {
				color: #828282 !important;
			}
		}
		&_notlink {
			opacity: 1;
			transform: scaleY(1);
			max-height: 2000px;
			margin-bottom: 0;
		}
		&_ul {
			ul {
				list-style-type: none;
				padding: 0;
			}
		}
	}

	&.active {
		margin: 0;
		transition: all 0.5s ease;
		.btn {
			rotate: (180deg);
		}

		.text {
			opacity: 1;
			transform: scaleY(1);
			max-height: 2000px;
			margin-bottom: 0;
		}
	}
}

.note {
	background: #DF870A;
	border-radius: 10px;
	padding: 8px 24px;
	color: #000;
	font-weight: 500;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin: 8px 0;

	.icon {
		width: 24px;
		height: 24px;
		background: url(../../img/note_icon.png) no-repeat center center;
		background-size: contain;
		margin-right: 24px;

		@media (min-width: 320px) and (max-width: 1080px) {
			margin-right: 8px;
		}
	}

	@media (min-width: 320px) and (max-width: 1080px) {
		font-size: 13px;
		margin: 8px 0;
		padding: 8px 16px;
	}
}

.note_2 {
	padding: 8px 32px;
	display: inline-block;
	background: #1E1E1E;
	border-radius: 5px;

	@media (min-width: 320px) and (max-width: 1080px) {
		padding: 8px;
		text-align: left;
	}
}

// Blocks and tabs

.no_data {
	background: #151515;
	padding: 16px;
}

.block_container {
	padding: 16px 32px;
	border-radius: 5px;
	background: #151515;

	@media (min-width: 320px) and (max-width: 1080px) {
		padding: 16px;
	}
}

.block {
	background: #151515;
	border-radius: 0px 0px 10px 10px;
}

.tabs {
	.switchers {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		border-bottom: 1px solid #DF870A;
		padding: 0;
		background: #070707;

		@media (min-width: 320px) and (max-width: 1080px) {
			padding: 0;
			justify-content: flex-start;
			font-size: 14px;
			margin: 0;
			overflow-x: auto;
			margin-bottom: 8px;
			border-bottom: none;
			padding-bottom: 8px !important;
			position: relative;
			background: #151515;
			position: relative;

			&::after {
				position: absolute;
				content: "";
				bottom: 8px;
				width: 100%;
				border-top: 1px solid #DF870A;
			}

			&::-webkit-scrollbar {
				width: 8px;
				height: 16px;
			}

			&::-webkit-scrollbar-track {
				background: #1E1E1E;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb {
				background: #DF870A;
				border-radius: 5px;
			}
		}

		.switcher {
			user-select: none;
			background: rgba(223, 135, 10, 0.32);
			border-left: 1px solid #000000;
			border-radius: 5px 5px 0px 0px;
			color: #dddddd;
			padding: 8px 24px;
			cursor: pointer;
			transition: all 0.2s ease;

			&.active {
				background: #DF870A;
				color: #000000;
			}

			&:hover {
				background: #DF870A;
				color: #000000;
			}

			&.inactive {
				color: #000000;
			}

			@media (min-width: 320px) and (max-width: 1080px) {
				padding: 8px 12px;
				white-space: nowrap;
				border-bottom: 1px solid #DF870A;
				color: #fff;

				&.active {
					color: #000000;
					border-radius: 5px 5px 0px 0px;
				}
			}
		}
	}

	.tab {
		display: none;
		padding: 16px 32px;

		@media (min-width: 320px) and (max-width: 1080px) {
			padding: 16px;
		}

		&.active {
			display: block;
		}
		&.notready{
			padding: 0;
			overflow: hidden;
		}
	}

	&.small {
		.tab {
			padding: 0;

			@media (min-width: 320px) and (max-width: 1080px) {
				padding: 16px;
			}
		}

		.switcher {
			padding: 4px 8px;

			@media (min-width: 320px) and (max-width: 1080px) {
				padding: 8px 24px;
			}
		}
	}
}

.item_views {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px;

	.item_view {
		width: 175px;
		border-radius: 5px;
		background-color: #1E1E1E;
		position: relative;

		@media (min-width: 320px) and (max-width: 600px) {
			width: 135px;
		}

		&:hover {
			background-color: #372813;
		}

		.image {
			margin: 8px;
			height: 84px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.contains {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			gap: 8px;
			margin: 0 8px 8px 8px;

			.count_item {
				color: #DF870A;
			}

			.name {
				color: #828282;
				font-size: 14px;
			}
		}
	}
}

.header_with_note {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	.info {
		font-size: 14px;
		width: 20px;
		height: 20px;
		margin-right: 8px;
		background: #DF870A;
		color: #000000;
		cursor: pointer;
		position: relative;
	}
}

.list_with_icons {
	.li {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		gap: 12px;
		margin-bottom: 16px;

		.icon {
			width: 30px;
			height: 30px;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.contains {
			max-width: 780px;
			flex: 1;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Footer

footer {
	background: #151515;
	padding: 21px 0 28px 0;
	color: #828282;
	font-size: 16px;
	margin-top: 350px;

	@media (max-width: 1080px) {
		margin-bottom: 50px;
	}


	a {
		color: #828282 !important;
		text-decoration: underline !important;
	}

	.wrapper {
		flex-flow: row nowrap;
		bottom: 0;
		align-items: flex-start;
		justify-content: space-between;
	}

	@media (min-width: 320px) and (max-width: 1080px) {
		padding: 20px;

		.wrapper {
			display: block;
		}

		.left {
			margin-bottom: 8px;
		}
	}
}

// Modals

.modal_wrapper {
	display: none;
	align-items: center;
	background: #070707;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 300;
	padding: 0 40px;

	&.active {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}

	.modal {
		width: 720px;
		margin: 0 auto;
		background: #1E1E1E;
		border-radius: 5px;
		display: flex;
		flex-flow: row nowrap;

		@media (min-width: 320px) and (max-width: 1080px) {
			background: none;
			flex-flow: column nowrap;
			filter: none !important;
			width: 100%;
			flex: 1;
			margin: 0;
		}

		.restore_form {
			display: none;

			&.active {
				display: flex;
				flex-flow: column nowrap;
				height: 100%;
			}
		}

		.img {
			flex: 2;
			border-radius: 5px 0px 0px 5px;
			position: relative;
			height: 440px;
			overflow: hidden;

			@media (min-width: 320px) and (max-width: 1080px) {
				display: none;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.logoimg {
				background: url(../../img/logo.png) no-repeat center center;
				background-size: contain;
				position: absolute;
				z-index: 400;
				width: 88px;
				height: 76px;
				top: 5px;
				left: 16px;
			}
		}

		.wrapper {
			flex: 4;
			padding: 0 32px;
			display: flex;
			flex-flow: column nowrap;

			@media (min-width: 320px) and (max-width: 1080px) {
				padding: 0;
				text-align: center;
			}

			.logo {
				display: none;
				background-size: contain;
				margin: 0 auto;
				margin-top: 20vh;
				margin-bottom: 32px;

				@media (min-width: 320px) and (max-width: 1080px) {
					display: block;
				}
			}

			.top {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: space-between;
				font-size: 16px;
				padding: 32px 0 32px;

				.close {
					margin: 2px 0 2px auto;
					width: 16px;
					height: 16px;
					cursor: pointer;
					background: url(../../img/closed.png) no-repeat center center;
					background-size: contain;
				}

				.prev {
					display: none;
					cursor: pointer;

					&.active {
						display: block;
					}
				}
			}

			.contain {
				display: none;

				&.active {
					height: 100%;
					display: flex;
					flex-flow: column nowrap;
					flex: 1;
				}

				.controls {
					flex: 1;

					h2 {
						margin: 0;
						margin-bottom: 64px;
					}

					input {
						display: block;
						width: 100%;
						outline: none !important;
						border: none !important;
						font-family: "Exo2";
						font-size: 16px;
						padding: 10px 16px;
						background: #fff;
						border: 2px solid #fff !important;
						box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
						border-radius: 5px;
						border-radius: 5px;
						margin-bottom: 8px;

						&::placeholder {
							color: rgba(0, 0, 0, 0.75) !important;
						}

						&:focus {
							border: 2px solid #DF870A !important;
						}
					}

					.row {
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
						gap: 8px;
					}

					.toptext {
						display: none;
						margin-top: 28px;
						font-size: 16px;

						@media (min-width: 320px) and (max-width: 1080px) {
							display: block;
						}

						a {
							color: #DF870A !important;
						}
					}
				}

				.bottom {
					margin-bottom: 16px;
					font-size: 16px;
					display: flex;
					flex-flow: column nowrap;
					flex: 1;
					justify-content: flex-end;
					gap: 16px;

					.toptext {
						a {
							color: #DF870A !important;
						}

						@media (min-width: 320px) and (max-width: 1080px) {
							display: none;
						}
					}

					.middletext {
						a {
							color: #DF870A !important;
						}
					}

					.bottomtext {
						color: #fff !important;
					}
				}

				.btn {
					cursor: pointer;
					display: block;
					font-size: 16px;
					color: #000000 !important;
					background: #DF870A;
					outline: none !important;
					border: none !important;
					font-family: "Exo2" !important;
					padding: 10px 12px;
					border-radius: 5px;
					transition: all 0.2s ease;

					&:hover {
						background: #fff;
					}

					&.center {
						text-align: center;
					}

					&.main {
						width: 130px;
						margin: 0 auto;
						margin-bottom: 10px;
						display: flex;
						flex-flow: row nowrap;
						align-items: center;

						@media (min-width: 320px) and (max-width: 1080px) {
							width: 100%;
							justify-content: center;
						}

						.icon {
							width: 20px;
							height: 18px;
							margin-right: 8px;

							&.mail {
								background: url(../../img/modal_mail.png) no-repeat left center;
								background-size: contain;
							}

							&.discord {
								background: url(../../img/modal_discord.png) no-repeat left center;
								background-size: contain;
							}
						}
					}
				}

				.btns .btn {
					display: block;
					width: 100%;

					&:first-child {
						margin-top: 24px;
					}
				}
			}
		}
	}
}


.awards {
	background: #151515;
	border-radius: 10px;
	padding: 8px 32px;

	.lock {
		margin: 16px 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		.divider {
			margin-bottom: -2px;
			border-bottom: 1px solid #DF870A;
			flex: 1;
		}

		.lock_icon {
			margin: 0 20px;
			width: 24px;
			height: 24px;
			background: url(../../img/lock_icon.png) no-repeat center center;
			background-size: contain;
		}
	}

	.properties {
		.prop {
			margin: 8px 0;
			display: flex;
			flex-flow: row nowrap;
			gap: 8px;
			align-items: flex-start;

			.name {
				width: 220px;
				color: #DF870A;

				@media (min-width: 320px) and (max-width: 1080px) {
					width: 90px;
				}
			}

			.val {
				position: relative;
				flex: 1;

				&.value_options {
					display: flex;
					flex-flow: row nowrap;
					gap: 16px;

					.option {
						color: #828282;
					}
				}

				.info {
					position: absolute;
					top: 0px;
					left: 100px;
					width: 12px;
					height: 12px;
					font-size: 10px;
				}

				a {
					color: #DF870A !important;

					&.module {
						color: #fff !important;
					}
				}
			}
		}
	}

	@media (min-width: 320px) and (max-width: 1080px) {
		.center {
			text-align: left;
		}

		.container {
			padding: 0;
		}
	}
}
svg path {
	stroke: inherit;
	stroke-width:inherit;
	fill:inherit;
}

.item_popup_link {
	color: #DF870A;
	cursor: pointer;
	position: relative;

	.popup_list {
		position: absolute;
		width: 280px;
		left: calc(-140px + 50%);
		top: calc(100% + 15px);
		background: #151515;
		border-width: 0px 1px 1px 0px;
		border-style: solid;
		border-color: #DF870A;
		border-radius: 10px;
		padding: 16px;
		z-index: 300;
		visibility: hidden;
		opacity: 0;
		transform: translate(0%, 5%);
		transition: all 0.2s ease;

		.image {
			height: 65px;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.text {
			font-size: 13px;
			color: #fff;
		}

		.link {
			display: block;
			color: #DF870A !important;
			font-size: 13px;
			text-align: right;
		}

		&:before {
			position: absolute;
			bottom: 100%;
			left: 120px;
			width: 0;
			height: 0;
			border: 0 solid transparent;
			border-right-width: 15px;
			border-left-width: 15px;
			border-bottom: 18px solid #151515;
			content: "";
		}
	}

	&:hover {
		.popup_list {
			visibility: visible;
			opacity: 1;
			transform: translate(0%, 0%);
		}
	}
}
.navigation {
	.pagination {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 8px;
		margin-top: 24px;
		font-size: 16px;
		overflow-x: auto;
		overflow-y: hidden;

		.next .last .page .first .previous {
			min-width: 30px;
			display: flex;
			background-color: #151515;
			padding: 6px;
			border: solid 1px #151515;
			border-radius: 3px;
			justify-content: center;
			transition: .3s;
			&:hover {
				background-color: #DF870A;
			}
		}
		.current {
			min-width: 30px;
			display: flex;
			background-color: #DF870A;
			border: solid 1px #DF870A;
			padding: 6px;
			justify-content: center;
		}
	}
}

@import '../decor/variables.scss';
@import '../decor/itemproperties.scss';
@import 'main.scss';
@import 'article.scss';
@import 'bullets.scss';
@import 'health.scss';
@import 'quest.scss';
@import 'traders.scss';
@import 'crafts.scss';
@import 'mechanics.scss';
@import 'map.scss';
@import 'news.scss';
@import 'item.scss';