.mobile_divider {
    display: none;

    @media (min-width:320px) and (max-width:1080px) {
        display: block;
        margin: 40px 0;
        border-bottom: 1px solid #DF870A;
    }
}

.modules {
    h2 {
        @media (min-width:320px) and (max-width:1080px) {
            background: #1E1E1E;
            border-radius: 3px 3px 0px 0px;
            padding: 10px 20px;
            text-align: center;
            font-size: 20px;
            position: relative;
            margin-bottom: 0;
            cursor: pointer;

            &:before {
                position: absolute;
                top: 10px;
                right: 20px;
                content: "▼";
            }

            &.active:before {
                position: absolute;
                top: 10px;
                right: 20px;
                content: "▲";
            }
        }
    }

    .wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 8px;
        padding: 16px;
        background: #151515;
        border-radius: 5px;

        @media (min-width:320px) and (max-width:1080px) {
            margin-top: 0;
            border-radius: 0px 0px 3px 3px;
            opacity: 0;
            max-height: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition: all 0.5s ease;
            margin-bottom: -32px;

            &.active {
                transform: scaleY(1);
                opacity: 1;
                max-height: 1000px;
                margin-top: 0;
                margin-bottom: 0px;
            }
        }

        .module {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            background: rgba(120, 92, 53, 0.32);
            border-radius: 5px;
            transition: all 0.2s ease;
            padding: 2px 8px;

            .icon {
                width: 28px;
                height: 28px;
                position: relative;
                margin-right: 5px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: left center;
                }
            }

            &.active {
                background: #DF870A;
            }

            &:hover {
                background: #DF870A;
            }
        }
    }
}

.craft_switcher {

    h2 {
        @media (min-width:320px) and (max-width:1080px) {
            background: #1E1E1E;
            border-radius: 3px 3px 0px 0px;
            padding: 10px 20px;
            text-align: center;
            font-size: 20px;
            position: relative;
            margin-bottom: 0;
            cursor: pointer;

            &:before {
                position: absolute;
                top: 10px;
                right: 20px;
                content: "▼";
            }

            &.active:before {
                position: absolute;
                top: 10px;
                right: 20px;
                content: "▲";
            }
        }
    }

    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 5px;
        padding: 16px;
        background: #151515;
        border-bottom: 1px solid #DF870A;
        border-radius: 5px;

        @media (min-width:320px) and (max-width:1080px) {
            margin-top: 0;
            border-radius: 0px 0px 3px 3px;
            display: block;
            opacity: 0;
            max-height: 0;
            transform: scaleY(0);
            transform-origin: top;
            transition: all 0.5s ease; 
            margin-bottom: -32px;

            &.active {
                transform: scaleY(1);
                opacity: 1;
                max-height: 1000px;
                margin-bottom: 0px;
            }
        }

        .craft {
            flex: 0.2;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;

            @media (min-width:320px) and (max-width:1080px) {
                align-items: center;
                justify-content: space-between;
                margin: 30px 0;
            }

            .icon {
                width: 60px;
                height: 60px;
                position: relative;
                margin-right: 8px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .contains {
                @media (min-width:320px) and (max-width:1080px) {
                    flex: 1;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;
                }

                .name {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                .controls {
                    display: flex;
                    flex-flow: row nowrap;
                    gap: 2px;

                    .control {
                        cursor: pointer;
                        padding: 8px;
                        background: rgba(120, 92, 53, 0.17);
                        border-radius: 2px;
                        transition: all 0.2s ease;

                        @media (min-width:320px) and (max-width:1080px) {
                            padding: 10px 13px;
                        }

                        &.active {
                            background: #DF870A;
                        }

                        &:hover {
                            background: #DF870A;
                        }
                    }
                }
            }
        }
    }
}

.tabs_no_padding {
    .tab {
        padding: 0;
    }
}

.prop_modules {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;

    .prop_module {
        text-align: center;

        .module {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            background: rgba(120, 92, 53, 0.32);
            border-radius: 5px;
            transition: all 0.2s ease;
            padding: 2px 8px;

            .icon {
                width: 28px;
                height: 28px;
                position: relative;
                margin-right: 5px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: left center;
                }
            }

            &.active {
                background: #DF870A;
            }

            &:hover {
                background: #DF870A;
            }
        }
    }

    .level {
        margin-top: 2px;
        color: #DF870A;
        font-size: 12px;
    }
}

.needed {
    .item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        margin: 16px 0;

        .x {
            color: #828282;
        }

        .image {
            width: 200px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .name {
            text-align: left;
            margin: 0 0 0 auto;
        }
    }
}

.result {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin: 16px 0;

    .image {
        width: 300px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .name {
        text-align: left;
        margin: 0 0 0 auto;
    }
}

.time {
    width: 180px;
    color: #828282;
}

.crafts_section {
    @media (min-width:320px) and (max-width:1080px) {
        display: none;
    }

    th {
        border-bottom: 1px solid #151515 !important;
        padding: 16px;
        color: #DF870A;
    }
}