.content_map {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1184px;

  .nav_list {
    margin: 0 0 16px;
    padding: 0;
    font-size: 16px;
    display: flex;
    list-style: none;
    color: #828282;
    font-weight: 400;
    justify-content: center;
    column-gap: 32px;

    .nav_list__element {
      cursor: pointer;

      @media (max-width: 900px) {
        display: none;
      }

      &.active {
        color: #df870a;
      }
    }

    .nav_list__element:hover {
      color: #df870a;
    }
  }

  .container__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    padding: 0;
    justify-content: center;

    @media (max-width: 834px) {
      gap: 24px;
    }

    .item {
      background-color: #151515;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid rgba(223, 135, 10, 0);
      .card {
        display: flex;
        flex-direction: column;
        min-height: auto;

        img {
          height: 60px;
        }

        .image {
          border-radius: 5px 5px 0 0;
        }

        span {
          font-size: 16px;
          margin: 4px 0 4px;
          text-align: center;
          color: #df870a;
        }

        .text {
          padding: 6px 12px;
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          row-gap: 8px;

          .text__element {
            display: flex;
            align-items: center;

            .text__description {
              margin: 0;
              line-height: 17px;

              &.margin {
                margin-left: 8px;
              }

              &.color {
                margin-left: 8px;
                color: #828282;
              }
            }

          }
        }
      }

    }

    .item:hover {
      border: 1px solid rgba(223, 135, 10, 1);
    }
  }
}
