.body_container {

  .container {
    @media (max-width: 835px) {
      padding: 0;
    }
  }
  @media (max-width: 835px) {
    max-width: 600px;
    margin: 0 auto;
  }
  @media (max-width: 631px) {
    max-width: 88%;
  }

  .invisible {
    display: none;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.content_mechanics {
  margin: 30px auto 266px;
  max-width: 1144px;


  @media (max-width: 1179px) {
    padding: 0 20px;
  }
  .line_navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    @media (max-width: 660px) {
      flex-direction: column;
    }

    .header {
      @media (max-width: 1179px) {
      }

      .title {
        line-height: 38px;
        color: #df870a;
        margin: 0;
      }
    }
    .navbar {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      column-gap: 13px;
      position: relative;
      @media (max-width: 660px) {
        align-self: center;
      }

      &_btn {
        display: flex;
        gap: 8px;

        @media (max-width: 1080px) {
          display: block;
        }

      }

      @media (max-width: 630px) {
        flex-direction: column;
        row-gap: 8px;
        max-width: fit-content;
      }

      .category {
        position: relative;
        min-width: 244.5px;
      }

      .headlines {
        display: flex;
      }

      .author {
        position: relative;
        min-width: 214px;
      }

      .dropdown {
        position: absolute;
        background-color: #1e1e1e;
        border-radius: 0 0 5px 5px;
        max-height: 295px;
        transform: scaleY(1);
        opacity: 1;
        transition: all 0.3s ease;
        width: 100%;
        z-index: 5;

        ul {
          list-style-type: none;
          padding: 0px !important;
        }
        .list {
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0 10px #070707;

          .text {
            cursor: pointer;
            padding: 8px 16px;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;

            &.text_all {
              border-bottom: 1px solid #DF870A;
            }
          }

          .text:hover {
            background-color: #151515;
          }
        }
      }

      .dropdown-hidden {
        max-height: 0;
        transform: scaleY(0);
        opacity: 0;
        transform-origin: top;
        transform: scaleY(0) translateY(-100px);
        transition: all 0.3s ease;
      }

      .element {
        padding: 12px;
        max-height: 40px;
        display: flex;
        margin-bottom: 4px;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(21, 21, 21, 1);
        border-radius: 5px;
        cursor: pointer;

        &.active {
          border-radius: 5px 5px 0 0;
        }

        .text {
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 19px;
          color: #828282;
          margin: 0;
        }

        .color_white {
          color: #fff;
        }

        .triangle {
          padding: 0;
          width: 10px;
          height: 12px;
          box-sizing: border-box;
          border: none;
          background-color: #151515;
          color: #c37609;
          cursor: pointer;
          transition: all 0.3s ease;
          &::before {
            content: "▼";
          }
          &.active {
            transform: rotate(-180deg);
          }
        }

        .toggle {
          width: 40px;
          height: 20px;
          border-radius: 20px;
          cursor: pointer;
          display: flex;
          padding: 2px;
          justify-content: end;
          background-color: #df870a;

          .circle {
            border-radius: 30px;
            background: #000;
            width: 16px;
            height: 16px;
            top: 2px;
            left: 22px;
          }
        }

        .toggle_no_active {
          justify-content: start;
          background-color: #828282;
        }
      }

    }
    .subtitle {
      max-width: 462px;
      font-size: 24px;
      color: #fff;
      margin: 0 0 16px;
    }
  }

  .container__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    padding: 0;
    justify-content: center;
    @media (max-width: 835px) {
      justify-content: space-between;
      row-gap: 24px;
    }
    @media (max-width: 630px) {
      justify-content: center;
    }

    .item {
      background-color: #151515;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid rgba(223, 135, 10, 0);
      @media (max-width: 630px) {
        width: 349px;
        height: 230px;
      }


      .card {
        display: flex;
        flex-direction: column;
        max-width: 245px;
        max-height: 220px;
        justify-content: flex-start;

        @media (max-width: 630px) {
          padding: 8px 16px 12px;
          min-height: auto;
        }
        p {
          margin: 0;
        }
        .image {
          border-radius: 5px 5px 0 0;
        }

        .card__text {
          padding: 4px 8px;

          .title {
            font-size: 16px;
            line-height: 19px;
            font-style: normal;
            font-weight: 400;
            color: #df870a;
            margin: 0;
          }

          .description {
            margin: 5px 0 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            width: 95%;
          }
        }

        .item__footer {
          padding: 4px 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 68px;

          .level {
            display: flex;
            column-gap: 3px;

            .level__element {
              width: 10px;
              height: 10px;
              background-color: #df870a;
            }
          }

          .timer {
            display: flex;
            column-gap: 9px;

            img {
              height: 16px;
            }

            .timer__text {
              font-weight: 300;
              font-size: 14px;
              line-height: 19px;
              margin: 0;
              text-align: center;
            }
          }
        }
      }
      &_sherpa {
        &:hover{
          border: 1px solid #77b139;
        }
      }
      &_premium{
        border: 1px solid #c37609;
        &:hover{
          border: 1px solid #df870a;
        }
      }
      &_null{
        &:hover{
          border: 1px solid #df870a;
        }
      }
    }

  }
}
