.information {
    display: flex;
    flex-direction: row;

    @media (min-width: 320px) and (max-width: 1080px) {
        flex-direction: column-reverse;
    }
    h1 {
        margin: 0;
    }

    .tasks {
        flex: 4;
        padding-right: 60px;

        @media (min-width: 320px) and (max-width: 1080px) {
            padding: 0;
        }

        .list {
            padding-left: 20px;
            display: flex;
            flex-direction: column-reverse;

            .item {
                line-height: 1.5;
                font-size: 14px;
            }
        }
    }

    .card {
        flex: 2;

        @media (min-width: 600px) and (max-width: 1080px) {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .image {
            img {
                flex: 1;
                width: 100%;
                overflow: hidden;
                @media (min-width: 320px) and (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .text {
            background: #151515;
            border-radius: 0px 0px 10px 10px;
            padding: 8px 24px;
            min-width: 258px;

            .item {
                padding: 4px 0;
                display: flex;
                justify-content: space-between;
                flex-flow: row nowrap;

                .name {
                    color: #DF870A;
                }
            }
        }
    }
}

.execution {
    padding: 8px 32px;
    background: #151515;
    border-radius: 10px;

    .locations {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 16px;
        margin-top: 16px;

        .location {
            flex: 0 0 220px;

            @media (min-width: 320px) and (max-width: 1080px) {
                flex: 1;
                flex: 0 0 128px;
            }

            .image {
                margin-bottom: 9px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .name {
                color: #828282;
                text-align: center;
            }
        }
    }
}

.dialog {
    display: flex;
    flex-flow: row nowrap;
    padding: 8px 32px;
    background: #151515;
    border-radius: 10px;

    @media (min-width: 320px) and (max-width: 1080px) {
        display: flex;
        flex-flow: column nowrap;
    }

    .trader {
        margin-right: 24px;

        @media (min-width: 320px) and (max-width: 1080px) {
            margin: 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            margin-bottom: 16px;
        }

        .image {
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            width: 120px;
            height: 120px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name {
            text-align: center;
            margin-top: 4px;
            font-size: 16px;

            @media (min-width: 320px) and (max-width: 1080px) {
                text-align: left;
                margin-left: 16px;
                font-size: 16px;
            }
        }
    }

    .dialog_info {
        flex: 1;

        .block {
            margin-bottom: 16px;

            .name {
                color: #DF870A;
                margin-bottom: 16px;
            }
        }

        .controls {
            display: flex;
            flex-flow: row nowrap;
            gap: 70px;

            @media (min-width:320px) and (max-width:1080px) {
                display: block;
            }
        }

        .prev,
        .next {
            flex: 1;

            .name {
                color: #DF870A;
                margin-bottom: 20px;
                position: relative;

                &::before {
                    position: absolute;
                    bottom: -5px;
                    width: 100%;
                    height: 1px;
                    content: "";
                    background: #DF870A;
                }
            }

            .btns {
                .button {
                    display: block;
                    background: rgba(223, 135, 10, 0.17);
                    border-radius: 10px;
                    color: #FFFFFF !important;
                    padding: 10px 15px;
                    margin: 13px 0;
                    position: relative;
                    overflow: hidden;
                    text-align: center;

                    &:after {
                        position: absolute;
                        width: 18px;
                        background: #DF870A;
                        height: 100%;
                        top: 0;
                        right: 0;
                        content: "";
                        transition: all 0.5s ease;
                    }

                    &:hover::after {
                        width: 100%;
                        opacity: 0.5;
                    }
                }
            }
        }

        .prev {
            .btns {
                .button {
                    display: block;
                    background: rgba(223, 135, 10, 0.17);
                    border-radius: 10px;
                    padding: 10px 15px;
                    margin: 13px 0;
                    color: #828282 !important;
                    position: relative;
                    overflow: hidden;
                    text-align: center;

                    &:after {
                        position: absolute;
                        width: 18px;
                        background: #DF870A;
                        height: 100%;
                        top: 0;
                        left: 0;
                        content: "";
                    }
                }
            }
        }
    }
}

.header_lock {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;

    .header_lock_icon {
        width: 14px;
        height: 14px;
        background: url(../../img/lock_icon_white.png) no-repeat center center;
        background-size: contain;
    }
}