.information {
    display: flex;
    flex-flow: row nowrap;

    @media (min-width: 320px) and (max-width: 1080px) {
        display: flex;
        flex-flow: column-reverse nowrap;
    }

    .tasks {
        flex: 4;
        padding-right: 60px;

        @media (min-width: 320px) and (max-width: 1080px) {
            padding: 0;
            flex: none;
        }

        .list {
            padding-left: 20px;

            .item {
                line-height: 1.5;

                .popped {
                    color: #DF870A;
                    cursor: pointer;
                    position: relative;

                    .pop {
                        position: absolute;
                        width: 280px;
                        left: calc(-140px + 50%);
                        top: calc(100% + 15px);
                        background: #151515;
                        border-width: 0px 1px 1px 0px;
                        border-style: solid;
                        border-color: #DF870A;
                        border-radius: 10px;
                        padding: 16px;
                        z-index: 300;
                        visibility: hidden;
                        opacity: 0;
                        transform: translate(0%, 5%);
                        transition: all 0.2s ease;

                        .image {
                            height: 65px;
                            position: relative;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        .text {
                            font-size: 13px;
                            color: #fff;
                        }

                        .link {
                            display: block;
                            color: #DF870A !important;
                            font-size: 13px;
                            text-align: right;
                        }

                        &:before {
                            position: absolute;
                            bottom: 100%;
                            left: 120px;
                            width: 0;
                            height: 0;
                            border: 0 solid transparent;
                            border-right-width: 15px;
                            border-left-width: 15px;
                            border-bottom: 18px solid #151515;
                            content: "";
                        }
                    }

                    &:hover {
                        .pop {
                            visibility: visible;
                            opacity: 1;
                            transform: translate(0%, 0%);
                        }
                    }
                }
            }
        }
    }

    .card {
        flex: 2;

        @media (min-width: 320px) and (max-width: 1080px) {
            padding: 0;
            flex: none;
        }

        .image {
            img {
                width: 100%;
                height: auto;
            }
        }

        .text {
            background: #151515;
            border-radius: 0px 0px 10px 10px;
            padding: 8px 16px;

            .item {
                padding: 4px 0;
                display: flex;
                flex-flow: row nowrap;

                .name {
                    flex: 4;
                    color: #DF870A;
                }

                .value {
                    flex: 1;
                }
            }
        }
    }
}

.execution {
    padding: 16px;
    background: #151515;
    border-radius: 10px;

    .locations {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 16px;
        margin-top: 16px;

        @media (min-width: 320px) and (max-width: 1080px) {
            flex-flow: column nowrap;
        }

        .location {
            flex: 0 0 220px;

            @media (min-width: 320px) and (max-width: 1080px) {
				flex: 1;
			}

            .image {
                margin-bottom: 9px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .name {
                color: #828282;
                text-align: center;
            }
        }
    }
}

.dialog {
    display: flex;
    flex-flow: row nowrap;
    padding: 16px;
    background: #151515;
    border-radius: 10px;
    margin-bottom: 200px;

    @media (min-width: 320px) and (max-width: 1080px) {
        display: flex;
        flex-flow: column nowrap;
    }

    .trader {
        margin-right: 24px;

        @media (min-width: 320px) and (max-width: 1080px) {
            margin: 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            margin-bottom: 16px;
        }

        .image {
            border: 1px solid #FFFFFF;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            width: 120px;
            height: 120px;
    
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .name {
            text-align: center;

            @media (min-width: 320px) and (max-width: 1080px) {
                text-align: left;
                margin-left: 16px;
                font-size: 16px;
            }
        }
    }

    .dialog_info {
        flex: 1;

        .block {
            margin-bottom: 16px;

            .name {
                color: #DF870A;
                margin-bottom: 16px;
            }
        }

        .controls {
            display: flex;
            flex-flow: row nowrap;
            gap: 70px;

            @media (min-width:320px) and (max-width:1080px) {
                display: block;
            }
        }

        .prev,
        .next {
            flex: 1;

            .name {
                color: #DF870A;
                margin-bottom: 20px;
                position: relative;

                &::before {
                    position: absolute;
                    bottom: -5px;
                    width: 100%;
                    height: 1px;
                    content: "";
                    background: #fff;
                }
            }

            .btns {
                .button {
                    display: block;
                    background: rgba(223, 135, 10, 0.17);
                    border-radius: 10px;
                    padding: 10px 15px;
                    margin: 13px 0;
                    position: relative;
                    overflow: hidden;
                    text-align: center;

                    &:after {
                        position: absolute;
                        width: 18px;
                        background: #DF870A;
                        height: 100%;
                        top: 0;
                        right: 0;
                        content: "";
                        transition: all 0.5s ease;
                    }

                    &:hover::after {
                        width: 100%;
                        opacity: 0.5;
                    }
                }
            }
        }

        .prev {
            .btns {
                .button {
                    display: block;
                    background: rgba(223, 135, 10, 0.17);
                    border-radius: 10px;
                    padding: 10px 15px;
                    margin: 13px 0;
                    position: relative;
                    overflow: hidden;
                    text-align: center;
                    color: #828282 !important;

                    &:after {
                        position: absolute;
                        width: 18px;
                        background: #DF870A;
                        height: 100%;
                        top: 0;
                        left: 0;
                        content: "";
                    }
                }
            }
        }
    }
}

.header_lock {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
    
    .header_lock_icon {
        width: 14px;
        height: 14px;
        background: url(../../img/lock_icon_white.png) no-repeat center center;
        background-size: contain;
    }
}

