
.items_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.item_content{
	align-items: center;
	display: flex;
	height: 84px;
	padding: 2px;
	width: 84px;
	position: relative;
	justify-content: center;

	&_img {
		border: 1px solid#474747;
		max-height: 78px;
		max-width: 78px;

		&__name{
			display: flex;
			flex-direction: column;
			font-size: 12px;
			align-items: center;

			&__short{
				position: absolute;
				top: 8px;
				right: 12px;
			}
			&__count{
				position: absolute;
				bottom: 11px;
				left: 12px;
			}
		}

		&:hover{
			border: 1px solid $orange;
		}
	}

}

.item_bg{
	&__orange{
		background-color: #2c1c12;
	}
	&__violet{
		background-color: #271c29;
	}
	&__blue{
		background-color: #1a2229;
	}
	&__default{
		background-color: #222222;
	}
	&__yellow{
		background-color: #29291b;
	}
	&__grey{
		background-color: #29291e;
	}
	&__black{
		background-color: #201e1c;
	}
}

// reward
// null
// barter
// craft