.navigation {
  .pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
    font-size: 16px;
    overflow-x: auto;
    overflow-y: hidden;

    .next {
      min-width: 30px;
      display: flex;
      background-color: #151515;
      padding: 6px;
      border: solid 1px #151515;
      border-radius: 3px;
      justify-content: center;
      transition: .3s;
      &:hover {
        background-color: #DF870A;
      }
    }
    .next {
      min-width: 30px;
      display: flex;
      background-color: #151515;
      padding: 6px;
      border: solid 1px #151515;
      border-radius: 3px;
      justify-content: center;
      transition: .3s;
      &:hover {
        background-color: #DF870A;
      }
    }
    .last {
      min-width: 30px;
      display: flex;
      background-color: #151515;
      padding: 6px;
      border: solid 1px #151515;
      border-radius: 3px;
      justify-content: center;
      transition: .3s;
      &:hover {
        background-color: #DF870A;
      }
    }
    .page {
      min-width: 30px;
      display: flex;
      background-color: #151515;
      padding: 6px;
      border: solid 1px #151515;
      border-radius: 3px;
      justify-content: center;
      transition: .3s;
      &:hover {
        background-color: #DF870A;
      }
    }
    .first {
      min-width: 30px;
      display: flex;
      background-color: #151515;
      padding: 6px;
      border: solid 1px #151515;
      border-radius: 3px;
      justify-content: center;
      transition: .3s;
      &:hover {
        background-color: #DF870A;
      }
    }
    .previous {
      min-width: 30px;
      display: flex;
      background-color: #151515;
      padding: 6px;
      border: solid 1px #151515;
      border-radius: 3px;
      justify-content: center;
      transition: .3s;
      &:hover {
        background-color: #DF870A;
      }
    }
    .current {
      min-width: 30px;
      display: flex;
      background-color: #DF870A;
      border: solid 1px #DF870A;
      border-radius: 3px;
      padding: 6px;
      justify-content: center;
    }
  }
}