// Цвета
$black-100: #151515;
$black-200: #1E1E1E;
$black-300: #121212;
$grey: #828282;
$orange: #DF870A;
$orange-dark: #3A2910;
$orange-transparent-light: rgba(223, 135, 10, 0.32);
$orange-transparent: rgba(223, 135, 10, 0.17);

// Отступы
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

// border-radius
$border-radius-xs: 5px;

$transition: 0.25s ease;
