<div class="character__text">
    <span class="value-stock">{{ 'Используется кол-во раз' |trans({}, 'front.items') }}</span>
    <span class="value-properties">{{ item.properties.uses }}</span>
</div>