<footer>
    <div class="container">
        <div class="wrapper">
            <div class="left">
                {{ 'Права на игру Escape from Tarkov принадлежат'|trans({}, 'front.footer') }} <a href="https://www.escapefromtarkov.com/">Battlestate Games</a>
            </div>
            <div class="left">
                {{ 'Автор'|trans({}, 'front.footer') }}: <a href="https://www.twitch.tv/zervan_">Zervan</a>
            </div>
            <div class="left">
                <a href="https://boosty.to/zervan">{{ 'Поддержка проекта на'|trans({}, 'front.footer') }} Boosty</a>
            </div>
        </div>
    </div>
</footer>