<footer>
    <div class="container">
        <div class="wrapper">
            <div class="left">
                Права на игру Escape from Tarkov принадлежат <a href="#">Battlestate Games</a>
            </div>
            <div class="right">
                by Zervan
            </div>
        </div>
    </div>
</footer>