<nav>
    <div class="container">
        <div class="navbar">
            <a href="{{ absolute_url(path('app_home', {})) }}" class="logo active">

            </a>
            <div class="mobile_filler"></div>
            <div class="mobile_menu_btn">
            </div>

            <div class="menu">
                <div class="item">
                    <a href="bullets.html">Боеприпасы</a>
                </div>
                <div class="item">
                    <a href="{{ absolute_url(path('app_quests', {})) }}">Квесты</a>
                </div>
                <div class="item">
                    <a href="index.html">Карты</a>
                </div>
                <div class="item">
                    <a href="article.html">Механики</a>
                </div>
                <div class="item">
                    <a href="#">Новости</a>
                </div>
                <div class="item">
                    <a href="#">Турниры</a>
                </div>
            </div>
            <div class="search">
                <div class="icon">

                </div>
                <input type="text" class="input" name="search" placeholder="Поиск по сайту">
            </div>
            <div class="login" id="login_main">
                Войти
            </div>

            <div class="mobile_menu">
                <div class="close" id="menu_mobile_close"></div>
                <div class="top">
                    <div class="item active">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="/assets/img/menu_bullets.svg'" alt="">
                            </div>
                            Боеприпасы
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="/assets/img/menu_quests.svg" alt="">
                            </div>
                            Квесты
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="/assets/img/menu_maps.svg" alt="">
                            </div>
                            Карты
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="/assets/img/menu_mechanics.svg" alt="">
                            </div>
                            Механики
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="/assets/img/menu_news.svg" alt="">
                            </div>
                            Новости
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="itemlink">
                            <div class="itemlogo">
                                <img src="/assets/img/menu_tournirs.svg" alt="">
                            </div>
                            Турниры
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="item">
                        <div class="name">
                            Ссылки
                        </div>
                        <div class="links">
                            <a href="#" class="link telegram"></a>
                            <a href="#" class="link b"></a>
                            <a href="#" class="link twitch"></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="name">
                            Обратная связь
                        </div>
                        <div class="links">
                            <a href="#" class="link telegram"></a>
                            <a href="#" class="link b"></a>
                            <a href="#" class="link twitch"></a>
                        </div>
                    </div>
                    <div class="auth">
                        <div class="wrapper">
                            <a href="#" class="button login" id="login">Вход</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>