{% extends 'base.html.twig' %}

{% block title %}{{ quest.name }} | Tarkov.Town{% endblock %}

{% block content %}
    <section class="content_mechanics">
        <div class="line_navbar">
            <div class="header">
                <h1 class="title">Механики</h1>
                <p class="subtitle">
                    Разбор тем, на которые много вопросов, но очень мало ответов.
                </p>
            </div>
            <div class="navbar">
                <div class="navbar_btn">
                    <div class="category">
                        <div class="element">
                            <div class="headlines">
                                <p class="text" style="margin-right: 13px">Тема:</p>
                                <p class="text color_white">Все</p>
                            </div>
                            <button class="triangle"></button>
                        </div>
                        <div class="dropdown dropdown-hidden">
                            <ul class="list">
                                <li class="text text_all">Все</li>
                                <li class="text">Броня</li>
                                <li class="text">Медицина</li>
                                <li class="text">PVP</li>
                                <li class="text">Оружие</li>
                                <li class="text">Дикие</li>
                                <li class="text">Убежище</li>
                                <li class="text">Боеприпасы</li>
                            </ul>
                        </div>
                    </div>
                    <div class="author">
                        <div class="element">
                            <div class="headlines">
                                <p class="text" style="margin-right: 11px">Автор:</p>
                                <p class="text color_white">Все</p>
                            </div>
                            <button class="triangle"></button>
                        </div>
                        <div class="dropdown dropdown-hidden">
                            <ul class="list">
                                <li class="text text_all">Все</li>
                                <li class="text">Tarkov.Town</li>
                                <li class="text">Шерпы</li>
                                <li class="text">Пользователи</li>
                            </ul>
                        </div>
                    </div>
                    <div class="element toggle__container">
                        <p class="text" style="margin-right: 15px">Премиум:</p>
                        <div class="toggle toggle_no_active">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__cards">
            <article
                    class="item item_sherpa"
                    data-theme="Броня,Оружие"
                    data-author="Шерпы">
                <a href="#">
                    <div class="card">
                        <img src="./assets/img/mechanics_image.png" alt="Фон" class="image"/>
                        <div class="card__text">
                            <p class="title">Что то еще</p>
                            <p class="description">
                                Эта статья рассказывает о том как проходит урон по броне в
                                зависимости от патрона и какие модификаторы влияют на броню
                            </p>
                        </div>
                        <div class="item__footer">
                            <div class="level">
                                <div class="level__element"></div>
                                <div class="level__element"></div>
                            </div>
                            <div class="timer">
                                <p class="timer__text">12 минут</p>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </section>
{% endblock %}
