.datagrid-empty > tbody { box-shadow: 0 0; }
.main-header .navbar {
    display: block;
    padding: 0 0 0 0;
}
.main-header #header-logo .logo-custom { text-align: center; display: block; }

.form-tabs .nav-tabs .nav-link.active, .nav-tabs .nav-item .active .nav-link  {
    background: transparent;
    color: var(--link-color);
    position: relative;
}