{% extends 'base.html.twig' %}

{% block content %}
    <section class="content_mechanics">
        <h1 class="title__tablet">Механики</h1>
        <p class="subtitle__tablet">

        </p>
        {{ include('blocks/seo.html.twig') }}
        <p class="subtitle">

        </p>
        {{ dump(article) }}
    </section>
{% endblock %}
