{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}UPS!{% endblock %}

{% block content %}
    <div class="content">
        <section>
            <div style="font-size: 2000%; text-align: center;">UPS!</div>
        </section>
    </div>
{% endblock %}