{% extends 'base.html.twig' %}

{% block content %}
    <div class="content">
        {% block calibers %}
            {{ include('blocks/calibers.html.twig') }}
        {% endblock %}
        {% block item_list %}
        {% endblock %}
        <section>
            <div class="container">
                <!-- Collapsing block -->
                <div class="reference"  {{ stimulus_controller('reference-button') }}>
                    <div class="header">
                        <h2 class="h">Справка</h2>
                        <div class="line"></div>
                        <div class="btn">
                        </div>
                    </div>
                    <div class="text">
                        <p>
                            Представленные данные внутри таблицы являются номинальными значениями. Это означает, что таблица не учитывает множество переменных: понижающий коэффициент брони, который относится и к урону, и к бронепробитию; начальную скорость оружия; дистанцию до цели; различные механики, связанные с погодными условиями игры.
                            <br>
                            Подробнее со всеми тонкостями можно ознакомиться на соответсвующих <a href="https://tarkov.town/mechanics">страницах механик</a>.
                        </p>
                        <p>
{#							<span class="hl"> PRO-раздел представляет собой дополнительную информацию по характеристикам патрона, а также предлагает готовый расчет следующих характеристик</span>:#}
{#                            <br>#}
                            <span class="hl">• Бронепробитие</span> — шанс пробития (%) патроном класс брони от 1 до 6. Шанс соответсвует первому попаданию пулей.
                            <br>
                            <span class="hl">• Урон по броне</span> — количество очков прочности, которое наносится по броне от 1 до 6 класса, без учета материала брони. Иными словами указан чистый урон по броне.
                            <br>
                            <span class="hl">• Настильность</span> — способность лететь по прямой траектории, не требующее дополнительного изменение пристрелки оружия. Определяется тремя уровнями, где 3 уровень означает минимальное требование к пристрелке оружия.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
